@{
    ViewBag.Title = "Web Developer Résumé";
    ViewBag.MetaDesc = "Resume of Web Developer Ryan Williams. ";
}

<h1>Résumé</h1>
@*
<img src="~/Content/img/logos/pdf.png" alt="pdf" />
<a href="~/content/docs/rmw_resume_2013-08-05.pdf" target="_blank">Download PDF Version</a>*@

<hr />
<h2>Download the résumé of Ryan Williams</h2> 
<h4>Last Updated: April 27th, 2017</h4>
<p>
    <ul>
        
        <li>
            <a href="~/Content/docs/resume_ryan-williams_2017-04-27.pdf">Adobe PDF</a>
        </li>
        <li><a href="~/Content/docs/resume_ryan-williams_2017-04-27.doc">Microsoft Word</a></li>
    </ul>
</p>



<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />