@{
    ViewBag.Title = "Résumé";
    ViewBag.MetaDesc = "Resume of Software Engineer Ryan Williams. ";
}

<h1>@ViewBag.Title</h1>
 
<hr />
<h2>Download the résumé of Ryan Williams</h2> 
<h4>Last Updated: April 27th, 2017</h4>
<p>
    <ul>
        
        <li>
            <a href="~/Content/docs/resume_ryan-williams_2017-04-27.pdf">Adobe PDF</a>
        </li>
        <li><a href="~/Content/docs/resume_ryan-williams_2017-04-27.doc">Microsoft Word</a></li>
    </ul>
</p>



<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />