@{
    ViewBag.Title = "Contact";
}
 <h1>@ViewBag.Title</h1>
 
<section class="contact">
    <header>
        <h3>Business Email</h3>
    </header>

  

    <p>
       
        <span><a href="mailto:admin@bootbaron.com">admin&#64;<wbr>bootbaron<wbr>.com</a></span>
    
    </p>

    
</section>
<hr />
<section class="contact">
        <header>
        <h3>Social/ Business Profiles</h3>
    </header>

    <ul class="sub_nodeless">
        <li>
            <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">
                <img src="~/images/logos/gplus-64.png" /> </a>
            <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">Ryan Williams</a> (Google Plus)
        </li>

        <li>
            <a class="h_img" href="http://www.linkedin.com/in/ryanmichaelwilliams" target="_blank">
                <img src="~/images/logos/li.png" />Linked In</a>
         
        </li>

    </ul>
        
</section>
<hr />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />