 @{int num1 = RMW.Operational.Utilities.RandomNumber(2, 15);
   int num2 = RMW.Operational.Utilities.RandomNumber(2, 15);
 }
 
 <input type="hidden" name="num1" value="@num1" />
  <input type="hidden" name="num2" value="@num2" />
  <div style="margin-left:auto;margin-right:auto">
  <div style="float:left;">
Prove you are human @num1 +  @num2 = 
  </div>
    <div style="float:left;">
  <input autocomplete="off" required="required" style="width:25px;min-width:25px;" type="text" name="userans" />
  </div>

  </div>
 <div style="clear:both"></div>