@{
    ViewBag.Title = "About";
    ViewBag.MetaDesc = "Details about Ryan Michael Williams";
}
<h1>About</h1>
 <i>Details about Ryan Michael Williams</i>
<p>I was born in Ft. Lauderdale, FL USA and currently reside in San Francisco, CA USA. I'm single, enjoy going to 
    coffee shops, hiking, taking photos, traveling and taking care of business.
</p>

 
 <ul class="sub_nodeless">
     <li>
    <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">
       <img src="~/Content/img/logos/gplus-64.png" /> </a>
          <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">Ryan Williams</a>
     </li>

     <li>
            <a class="h_img" href="http://www.linkedin.com/in/ryanmichaelwilliams" target="_blank">
       <img src="~/Content/img/logos/li.png" /></a>
         
     </li>

 </ul>
