@{
    ViewBag.Title = "Contact";
}
 <h1>Contact</h1>
<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Google Voice:</span>
        <span>(313) 451-0386</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>

  
        <p>
        <span class="label">Business:</span>
        <span><a href="mailto:admin@bootbaron.com">admin&#64;<wbr>bootbaron<wbr>.com</a></span>
    
    </p>

        

    <p>
        <span class="label">Personal:</span>
        <span><a href="mailto:ryanmichaelwilliams@gmail.com">ryanmichaelwilliams&#64;<wbr>gmail<wbr>.com</a></span>
    
      </p>

    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <address>Ryan Williams<br />
        1592 Union Street #208<br />
        San Francisco, CA 94123<br />
        USA
    </address>
</section>