@{
    ViewBag.Title = "Contact";
}
 <h1>Contact</h1>
 
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>

  

    <p>
       
        <span><a href="mailto:ryanmichaelwilliams@gmail.com">ryanmichaelwilliams&#64;<wbr>gmail<wbr>.com</a></span>
    
    </p>

    
</section>
<hr />
<section class="contact">
        <header>
        <h3>Social/ Business Profiles</h3>
    </header>

    <ul class="sub_nodeless">
        <li>
            <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">
                <img src="~/Content/img/logos/gplus-64.png" /> </a>
            <a class="h_img" href="https://plus.google.com/u/0/102203432508719579575?rel=author" target="_blank">Ryan Williams</a>
        </li>

        <li>
            <a class="h_img" href="http://www.linkedin.com/in/ryanmichaelwilliams" target="_blank">
                <img src="~/Content/img/logos/li.png" /></a>
         
        </li>

    </ul>
        
</section>
<hr />
<section class="contact">
    <header>
        <h3>Business Address</h3>
    </header>
    <address>Ryan Williams<br />
        1592 Union Street #208<br />
        San Francisco, CA 94123<br />
        USA
    </address>
</section>
<div class="clear"></div>