@{
    ViewBag.Title = "Ryan Michael Williams";
    ViewBag.MetaDesc = "Official homepage of Ryan Michael Williams, web developer, entrepreneur and Internet addict.";
}

<h1>Cordial Welcoming</h1>
<hr />
<br />

 <p>This is the official website of <b>Ryan Michael Williams</b>, web developer, entrepreneur and Internet addict.</p>
<p>
     Your goal here is simple, to satiate your curiosity, perhaps as quickly as possible. No worries, I feel the clock 
     beat ticking too so I've provided a <a href="~/home/portfolio">portfolio</a> of websites that I've made without 
     <i>any</i> outside web development help as well as the tried and true <a href="~/home/resume">resume</a>. For those 
    who want deep insight into how I develop, <a href="~/articles">articles</a>
     which meticulously document my various coding escapades, often with examples available as well. 
 </p>
<p>You should have a feel for my abilities in the next 5 minutes or so, enjoy yourself. 
    If you have further questions please e-mail.
</p>
<br />
<p><i>Cheers,</i></p>
<p><i>Ryan</i></p>
 