@{
    ViewBag.Title = "Web Developer Portfolio";
    ViewBag.MetaDesc = "Web Developer portfolio of Ryan Michael Williams. Current location San Francisco.";
}

<h1>Portfolio</h1>
<p><i>
   I am the sole creator and webmaster of the following sites. Most of the 
    work I've done in a team setting has been for internal company use or changes frequently
    so that's why I'm showing these sites.
   </i></p>

<hr />

    <a class="h_img"  href="http://mouthguardstore.com" target="_blank">
        <img class="port_logo"
            src="~/Content/img/portfolio/mgs.jpg" alt="mouthguard store" /></a>
<p>
    <b>    URL:</b>
  <a href="http://mouthguardstore.com" target="_blank">http://mouthguardstore.com</a>
   </p>
<p>
    The  <a href="http://mouthguardstore.com" target="_blank">Mouthguard Store</a>
    is a video E-Commerce website that focuses on dental products. I created this 
    site so that my father could manage it as a family 
    business by writing articles, adding products and fullfilling orders without my help.  Some of the 
    problems addressed with the site are snoring &amp; sleep apnea, teeth grinding,
    teeth whitening, sports injury and sports performance. 

</p>
 
<ul class="no_indent">
    <li class="no_item_type"><b>Back End Development</b>
            <ul>
               <li><a href="http://www.asp.net/mvc/mvc4" target="_blank">MVC 4</a> With Razor 2 In C# On ASP.NET 4.5</li>
                <li><a href="http://en.wikipedia.org/wiki/Microsoft_SQL_Server#SQL_Server_2012">SQL Server 2012</a> Database Design</li>
                <li>PayPal Integration </li>
                <li>ADO.NET With Stored Procedures</li>
                <li><a href="http://aws.amazon.com/s3/" target="_blank">Amazon S3</a> Content Storage</li>
                   <li><a href="http://aws.amazon.com/ses/" target="_blank">
            Amazon Simple Email Service</a> </li>
            </ul>

    </li>
     <li class="no_item_type"><b>Front End Development</b>
           <ul>
               <li><a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://jqueryui.com/" target="_blank">jQuery UI</a>, <a href="http://mediaelementjs.com/" target="_blank">MediaElement.js</a></li>
               <li>Responsive Design (<i>Desktop, Tablet, Mobile</i>) </li>
               <li>CSS3, HTML5</li>

           </ul>

    </li>
    
      <li class="no_item_type"><b>Marketing</b>
            <ul>

                <li>Video Editing With <a href="http://www.adobe.com/products/premiere.html" target="_blank">Adobe Premiere</a> &amp; Promotion On YouTube</li>
                <li>Google AdWords </li>
                <li>SEO Best Practices, Including Rich Snippets</li>



                <li>Google Site Map For Pages And Videos</li>
            
            </ul>

    </li>




</ul>


<hr />


    <a class="h_img"  href="http://dasklub.com" target="_blank">
        <img  class="port_logo"
            src="~/Content/img/portfolio/dasklub.jpg" alt="das klub" /></a>
<p>    <b>
    URL: </b>
    
  <a href="http://dasklub.com" target="_blank">http://dasklub.com</a>
    </p>
     <p>
    <a href="http://dasklub.com" target="_blank">Das Klub</a>
    is a YouTube Video Community System. The homepage for the project 
         is a working instance for the industrial dance subculture.  It helps promote new 
    and existing bands through video contests. It is a full featured
    community in which users can meet new people from all over the world. 
         It has been open sourced on <a href="http://dasklub.codeplex.com/" target="_blank">Code Plex here</a>.

</p>
 
<ul class="no_indent">
       <li class="no_item_type"><b>Back End Development</b>
        <ul>
                    <li><a href="http://www.asp.net/mvc/mvc4" target="_blank">MVC 4</a> With Razor 2 In C# &amp; VB.NET On ASP.NET 4.5</li>
           <li><a href="http://en.wikipedia.org/wiki/Microsoft_SQL_Server#SQL_Server_2012">SQL Server 2012</a> Database Design</li>
            <li>Translated In Over 12 Languages</li>
            <li>ADO.NET With Stored Procedures</li>
            <li>White Labelable (see <a href="http://gogoguitars.com/" target="_blank">Go Go Guitars</a> for proof)</li>
            <li><a href="http://aws.amazon.com/s3/" target="_blank">Amazon S3</a> Content Storage</li>
            <li><a href="http://aws.amazon.com/ses/" target="_blank">
            Amazon Simple Email Service</a> </li>
            <li>Web Socket Chatroom with <a href="http://signalr.net/" target="_blank">SignalR</a></li>
        </ul>
        
    </li>

      <li class="no_item_type"><b>Front End Development</b>
        <ul>
            
            <li>Responsive Design (<i>Desktop, Tablet, Mobile</i>) Utilizing <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
            <li><a href="https://developers.google.com/youtube/iframe_api_reference" target="_blank">YouTube API</a></li>
            <li><a target="_blank" href="https://developers.google.com/maps/documentation/javascript/">Google Maps JavaScript API V3</a> </li>
            <li><a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://jqueryui.com/" target="_blank">jQuery UI</a>, <a href="http://mediaelementjs.com/" target="_blank">MediaElement.js</a></li>
            <li>Ajax Message Notifications</li>
                           <li>CSS3, HTML5</li>
                    
        </ul>
    </li>
   
      <li class="no_item_type"><b>Marketing</b>
        <ul>
            <li>Google AdWords</li>
            <li>YouTube Video Ads &amp; Contests</li>
            <li>Facebook Ads</li>
            <li>Logo Design</li>
            <li>Merchandise On T-Shirts, Stickers, Glassware, USB Drives, Pens, 
                Metal Business Cards 
            </li>
            
        </ul>

    </li>

</ul>


<hr />


    <a class="h_img"  href="http://drmikewilliams.com" target="_blank">
        <img class="port_logo"
            src="~/Content/img/portfolio/drmw.jpg" alt="dr mike williams" /></a>

<p>    
    <b>
    URL: </b>
  <a href="http://drmikewilliams.com" target="_blank">http://drmikewilliams.com</a>
   </p>
<p>
    <a href="http://drmikewilliams.com" target="_blank">Dr. Mike Williams</a> is my father and a cosmetic 
    dentist. This was one of my early websites to help him get business by showing his work and services. 

</p>
 
<ul class="no_indent">

   <li class="no_item_type"><b>Front End Development</b>
        <ul>
            <li>HTML, CSS</li>
            <li>Adobe Flash</li>
        </ul>
    </li>
   
  <li class="no_item_type"><b>Marketing</b>
        <ul>
            <li>Google AdWords</li>
           <li>SEO</li>
        </ul>

    </li>

</ul>


<hr />
