@{
    ViewBag.Title = "Résumé";
    ViewBag.MetaDesc = "Resume of Software Engineer Ryan Williams. ";
}

<h1>@ViewBag.Title</h1>
 
<hr />
<h2>Download the résumé of Ryan Williams</h2> 
<h4>Last Updated: February 6th, 2018</h4>
<p>
    <ul>
        
        <li>
            <a href="~/docs/resume_ryan-williams_2018-03-05.pdf">Adobe PDF</a>
        </li>
        <li><a href="~/docs/resume_ryan-williams_2018-03-05.doc">Microsoft Word</a></li>
    </ul>
</p>



<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br />